.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
